# To be installed by:
#  pip3 install -r requirements.txt --only-binary :all:   (for raspberry pi)
#  
coloredlogs
numpy
opencv-python==4.1.0.25   # As the latest release has a bug? https://github.com/piwheels/packages/issues/59
requests
scikit-learn==0.22
joblib>=0.14
picamera
